@import "vars.css";



*{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

body{
    background-image: url(/images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-section{
    display:grid;
    grid-template-columns:10% 20% 10% 10% 50%;
    padding-top: 25px;
}

.logo{
    height: 115px;
}

.dropdown{
    font-size: 35px;
    border: 0;
    background-color: rgba(131, 131, 131, 0.25);
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-top: 50px;
}

.dateandtime{
    font-size: 30px;
    
}

.sub{
    font-size: 20px;
    color: mistyrose;
}

.timecolor{
    color: mistyrose;
}

.dates{
    color: #FFFFFF;
    font-size: 30px;
    margin-top: -20px; 
}

.amstate{
    height: 50px;
    padding-left:5px;
}

.item3{
    color: #FFFFFF;
    font-size: 30px;
    padding-right: 17%;
}

.tempc, .tempf, .humid, .prec{
    font-size: 25px;
}

.border{
    border-right: #FFFFFF dotted 2px;
}

.item4{
    color: #FFFFFF;
    font-size: 30px;
    padding-left: 4%;
}

.item5{
    padding-left: 10px;
}

.clock{
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    color:#FFFFFF;;
    padding-top:35px;
    padding-bottom: 20px;
}

.lines{
    display:flex;
    justify-content: space-between;
    padding-bottom: 70px;
    color: #FFFFFF;
    padding: 0px 20px 30px 20px;
}

.clouds{
    display: flex;
    justify-content: space-between;
    padding-bottom:20px;
}

.degree{
    display:flex;
    justify-content:space-between;
    font-size: 20px;
    color:#FFFFFF;
    padding-left: 5px;
    padding: 0px 20px 30px 20px;
}

/* section 2 */
.body-section{
    display:grid;
    background-color: black;
    border-radius: 25px;
}

.first-row{
    display:grid;
    grid-template-columns: 65% 5% 5% 5% 7% 13%;
    grid-auto-columns: 100%;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

.top-title{
    padding-left: 40%;
    margin-top: 10px;
} 

.cursor{
    cursor: pointer;
}

.displaytop{
    font-size: 15px;
    padding-bottom: 10px;
    
}

.inputcity{
    background-color: rgba(131, 131, 131, 0.25);
    font-size: 15px;
    color: #FFFFFF;
    width: 40px;
    height: 25px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.second-row{
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    column-gap: 40px;
    padding: 0px 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

.card {
    padding: 20px;
    min-width: 300px;
    margin-bottom: 2rem;
    background-color: #181818;
    background-image: url(/images/kolkata.svg);
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size:60% ;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover{
    transform: scale(1.2);
  }

.dandt{
    font-size: 20px;
}

.candt{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.date{
    color: #FFFFFF;
    font-size: 30px; 
    margin-top: 15px;
}

.time{
    margin-bottom: 5px;
}

.sun{
    margin-top: -4px;
    height: 25px;
}

.center-align{
    padding-left: 10px;
    font-size: 20px;
}

.changesize{
    font-size: 20px;
}

/*section 3*/

.footer-section{
    display:grid;
    background-color: #121212;
    padding: 20px;
}

.continent-title{
    display:grid;
    grid-template-columns: 70% 15% 15%;
    font-size: 25px;
    padding: 20px;
}

.temp{
    text-align: end;
    font-size: 25px;
}

.cname{
    text-align: start;
    font-size: 25px;
}

.continent-list{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-auto-rows: 100px;
    grid-gap: 20px 70px;
    padding-top: 10px;
    padding: 10px;
}

.continent{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background-color: #2E2E2E;
    font-size: 25px;
    justify-content: center;
    padding: 5px;
    transition:0.2s;
}



.continent:hover{
    transform: scale(1.1);
  }

.color-change{
    color: #FFF461;
}

.size-change{
    font-size: 28px;
    text-align: right;
}

.cityname{
    font-size: 24px;
}

.humidpercent{
    text-align: right;
    align-self: end;
    font-size: 26px;
}

@media (max-width: 750px){
    .header-section{
        grid-template-columns:20% 40% 20% 20%;
    }

    .logo{
        height: 100px;
    }
    
    .dropdown{
        font-size: 30px;
        border: 0;
        background-color: rgba(131, 131, 131, 0.25);
        color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        margin-top: 50px;
    }

    .tempc, .tempf, .humid, .prec{
        font-size: 20px;
    }

    .first-row{
    display:grid;
    grid-template-columns: 40% 10% 10% 10% 20% 10%;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    }

    .inputcity{
        background-color: rgba(131, 131, 131, 0.25);
        font-size: 10px;
        color: #FFFFFF;
        width: 30px;
        height: 20px;
    }

    .top-title{
        padding-left: 10%;
    } 
    .row{
        overflow-x: scroll;
    }

    .item5{
        grid-column: 1/5;
    }

    /*section3*/

    .continent-title{
        display:grid;
        grid-template-columns: 50% 30% 20%;
        font-size: 15px;
        padding: 10px;
    }

    .temp{
        text-align: end;
        font-size: 15px;
    }
    
    .cname{
        text-align: start;
        font-size: 15px;
    }

    .continent-list{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-auto-rows: 100px;
        grid-gap: 10px 40px;
        padding-top: 5px;
        padding: 5px;
    }

    .continent{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        background-color: #2E2E2E;
        font-size: 15px;
        justify-content: center;
        padding: 5px;
    }

    .size-change{
        font-size: 18px;
        text-align: right;
    }
    
    .cityname{
        font-size: 14px;
    }
    
    .humidpercent{
        text-align: right;
        align-self: end;
        font-size: 16px;
    }
}